<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/index.css">
    <title>Complete CS Index</title>
</head>

<body>
<h1>Complete coder index for every language</h1>
<label for="allsearch">Search:</label>
<input type="search" name="allsearch">
<input type="button" name="entersearch" value="Enter">
<a href="newUser.html"><input type="button" name="create" value="create account"></a>

<table id="languageTable">
    <tr>
        <th><a href="python.html">Python</a></th>
    </tr>
    <tr>
        <th>Java</th>
    </tr>
    <tr>
        <th>C</th>
    </tr>
</table>
</body>
</html>