<!DOCTYPE html>
<html>
   <body>
   
         email: <input type = "text" name = "email" id="email"/>
         username: <input type = "text" name = "username" id="username"/>
         password: <input type = "password" name = "password" id="password" />
         re-type password: <input type = "password" name = "password2" id="password2"/>
         <input type = "submit" id="create" value="submit" onclick=""/>

      <div id="changeDiv"></div>

      <a href="index.html"><input type="button" value="Home"></a>
      <script src="scripts/login.js"></script>
   </body>
</html>